<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 콘텐츠 플러스1 :: s -->
      <div id="contentsPlus1">
        <div class="main-contents-wrap">
          <h3>콘텐츠 플러스</h3>
          <p class="desc">차별화된 멤버십 서비스를 제공해 드립니다.</p>
          <div class="contents-list">
            <div class="items">
              <a href="#">
                <div class="img-wrap">
                  <img src="../../images/main/img_contents_popular.png" alt="" />
                </div>
                <h4 class="img-txt">인기 인물정보</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <div class="img-wrap">
                  <img src="../../images/main/img_contents_online_seminar.png" alt="" />
                </div>
                <h4 class="img-txt">온라인 세미나</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <div class="img-wrap">
                  <img src="../../images/main/img_contents_economy.png" alt="" />
                </div>
                <h4 class="img-txt">경제 산책</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <div class="img-wrap">
                  <img src="../../images/main/img_contents_openclass.png" alt="" />
                </div>
                <h4 class="img-txt">공개강좌</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <div class="img-wrap">
                  <img src="../../images/main/img_contents_newseries.png" alt="" />
                </div>
                <h4 class="img-txt">신규 시리즈</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 콘텐츠 플러스1 :: e -->
    </div>
  </body>
</html>
