<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 큐레이션 서비스1 :: s -->
      <div id="curation2">
        <div class="main-contents-wrap">
          <h3>큐레이션 서비스</h3>
          <div class="tabs">
            <span>전체</span>
            <span>리더쉽</span>
            <span>비즈니스</span>
            <span>인문·창의</span>
            <span>라이프</span>
          </div>
          <!-- slider :: s -->
          <div class="recommand-content swiper">
            <div class="contents-list swiper-wrapper">
              <!-- tab-cont1 :: s -->
              <div class="items-wrap swiper-slide">
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">
                      초강대 미국을 만든 악마의 식물, 감자 초강대 미국을 만든 악마의 식물, 감자 초강대 미국을 만든 악마의 식물, 감자 초강대 미국을 만든 악마의
                      식물, 감자
                    </h4>
                    <p class="creator">
                      식물이 만든 욕망의 세계사 식물이 만든 욕망의 세계사 식물이 만든 욕망의 세계사 식물이 만든 욕망의 세계사 식물이 만든 욕망의 세계사
                    </p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>오늘내일모레정도의삶</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
              </div>
              <!-- tab-cont1 :: e -->

              <!-- tab-cont2 :: s -->
              <div class="items-wrap swiper-slide">
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
              </div>
              <!-- tab-cont2 :: e -->

              <!-- tab-cont3 :: s -->
              <div class="items-wrap swiper-slide">
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">나는 왜 이 일을 하는가?</h4>
                    <p class="creator">질문의 기술</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">나는 왜 이 일을 하는가?</h4>
                    <p class="creator">질문의 기술</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">나는 왜 이 일을 하는가?</h4>
                    <p class="creator">질문의 기술</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">나는 왜 이 일을 하는가?</h4>
                    <p class="creator">질문의 기술</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">나는 왜 이 일을 하는가?</h4>
                    <p class="creator">질문의 기술</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">나는 왜 이 일을 하는가?</h4>
                    <p class="creator">질문의 기술</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
              </div>
              <!-- tab-cont3 :: e -->

              <!-- tab-cont4 :: s -->
              <div class="items-wrap swiper-slide">
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>오늘내일모레정도의삶</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">초강대 미국을 만든 악마의 식물, 감자</h4>
                    <p class="creator">식물이 만든 욕망의 세계사</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
              </div>
              <!-- tab-cont4 :: e -->

              <!-- tab-cont5 :: s -->
              <div class="items-wrap swiper-slide">
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
                <a href="#" class="items">
                  <div class="thumb-wrap">
                    <img src="https://picsum.photos/400?random" alt="" />
                  </div>
                  <div class="txt-info">
                    <h4 class="title">BODYFULNESS</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </a>
              </div>
              <!-- tab-cont5 :: e -->
            </div>
          </div>
          <!-- slider :: e -->
        </div>
      </div>
      <script defer>
        document.addEventListener('DOMContentLoaded', () => {
          // curation2
          const cur2Tabs = ['전체', '리더쉽', '비즈니스', '인문·창의', '라이프'];
          const cur2TabWrapper = document.querySelector('#curation2 .tabs');
          const cur2TabItems = document.querySelectorAll('#curation2 .tabs span');

          const cur2TabAxis = Array.from(cur2TabItems, (item) => {
            return Math.floor(item.getBoundingClientRect().x);
          });

          const tabScroll = (index) => {
            cur2TabWrapper.scrollTo({ left: cur2TabAxis[index] - 25, behavior: 'smooth' });
          };

          const curation2Swiper = new Swiper('#curation2 .recommand-content', {
            loop: true,
            loopAdditionalSlides: 1,
            slidesPerView: 1,
            spaceBetween: 32,
            navigation: {
              nextEl: '#curation2 .swiper-btn-next',
              prevEl: '#curation2 .swiper-btn-prev',
            },
            pagination: {
              el: '#curation2 .tabs',
              clickable: true,
              renderBullet: (index, className) => {
                return `<span class="${className}">${cur2Tabs[index]}</span>`;
              },
            },
            on: {
              slideChange: (swiper) => {
                tabScroll(swiper.realIndex);
              },
            },
          });
        });
      </script>
      <!-- 큐레이션 서비스1 :: e -->
    </div>
  </body>
</html>
