<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- footer type1 :: s -->
      <div id="footerType1">
        <div class="footer-wrap fluid-wrap">
          <div class="footer-items-wrap">
            <div class="footer-items">
              <!-- <ul class="footer-nav">
                <li class="items"><a href="#">리더쉽</a></li>
                <li class="items"><a href="#">비지니스</a></li>
                <li class="items"><a href="#">이슈트랜드</a></li>
                <li class="items"><a href="#">인문·창의</a></li>
                <li class="items"><a href="#">라이프</a></li>
              </ul> -->
              <img src="https://d.cylearn.co.kr/s3contents/d/cylearn/logo/bottom_jw.png" alt="로고 이미지" class="logo-image">
              <ul class="footer-corp">
                <li class="items"><a href="#" target="_blank">이용약관</a></li>
                <li class="items"><a href="#" target="_blank">개인정보처리방침</a></li>
              </ul>
            </div>
            <div class="footer-items">
              <div class="footer-helpcenter">
                <p class="txt">고객센터</p>
                <p class="num">02.2072.6320</p>
              </div>
              <div class="footer-copy">
                <p class="txt">Copyright ©2023 Hyundai Research Institute. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer type1 :: s -->
    </div>

    <!-- import script  -->
    <script src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../libs/bootstrap/popper.min.js"></script>
    <script src="../../libs/jquery/jquery-ui.js"></script>
    <script src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script src="../../libs/dropzone/dropzone.min.js"></script>
    <script src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script src="../../js/common.js"></script>
    <script defer></script>
  </body>
</html>
