<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- footer-type3 :: s -->
      <div id="footerType3">
        <div class="footer-wrap fluid-wrap">
          <div class="footer-items">
            <!-- <img src="../../images/img_temp_logo.png" alt="로고 이미지" class="logo-image"> -->
            <div class="items-wrap">
              <div class="corp-wrap">
                <ul class="footer-corp">
                  <li class="corp-items"><a href="#">이용약관</a></li>
                  <li class="corp-items"><a href="#"><b>개인정보처리방침</b></a></li>
                </ul>
                <div class="footer-copy">
                  <p class="txt">Copyright ©2023 Hyundai Research Institute. All Rights Reserved.</p>
                </div>
              </div>
            

              <div class="footer-helpcenter">
               
                <p class="txt">학습문의</p>
                <p class="num">02.2072.6320</p>
                
                <p class="info">AM 09 ~ PM 06 (점심 12 ~ 13시) 주말, 공휴일 휴무</p>
                <p class="info">cylearn@hri.co.kr</p>
               <!--  <p class="info">사이트 이용에 대하여 궁금한 사항을 안내받으세요</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-type3 :: e -->
    </div>


    <!-- import script  -->
    <script src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../libs/bootstrap/popper.min.js"></script>
    <script src="../../libs/jquery/jquery-ui.js"></script>
    <script src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script src="../../libs/dropzone/dropzone.min.js"></script>
    <script src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script src="../../js/common.js"></script>
    <script defer></script>
  </body>
</html>
