<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- footer-type2 :: s -->
      <div id="footerType2">
        <div class="footer-wrap fluid-wrap">
          <div class="footer-items">
            <div class="footer-nav-wrap">
              <dl class="footer-nav">
                <dt class="tit">리더쉽</dt>
                <dd class="item new"><a href="#">셀프리더쉽</a></dd>
                <dd class="item"><a href="#">조직리더십</a></dd>
                <dd class="item"><a href="#">혁신리더십</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="tit">비즈니스</dt>
                <dd class="item"><a href="#">셀프리더쉽</a></dd>
                <dd class="item"><a href="#">커뮤니케이션</a></dd>
                <dd class="item new"><a href="#">하이 퍼포먼스</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="tit">이슈트랜드</dt>
                <dd class="item new"><a href="#">라이브트랜드</a></dd>
                <dd class="item"><a href="#">경제전망대</a></dd>
                <dd class="item"><a href="#">경제포커스</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="tit">인문·창의</dt>
                <dd class="item"><a href="#">인문의 창</a></dd>
                <dd class="item"><a href="#">예술과의 동행</a></dd>
                <dd class="item new"><a href="#">창조적 사고</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="tit">라이프</dt>
                <dd class="item new"><a href="#">라이프 디자인</a></dd>
                <dd class="item"><a href="#">웰빙 라이프</a></dd>
                <dd class="item"><a href="#">감성코드</a></dd>
              </dl>
            </div>
            <div class="footer-helpcenter">
              <p class="txt">고객센터</p>
              <p class="num">02.2072.6320</p>
              <p class="info">AM 09 ~ PM 06 주말, 공휴일 휴무</p>
              <p class="info">creativetv@hri.co.kr</p>
              <p class="info">사이트 이용에 대하여 궁금한 사항을 안내받으세요</p>
            </div>
          </div>
          <div class="footer-items">
            <img src="../../images/img_temp_logo.png" alt="로고 이미지" class="logo-image">
            <div class="items-wrap">
              <div class="corp-wrap">
                <ul class="footer-corp">
                  <li class="corp-items"><a href="#">이용약관</a></li>
                  <li class="corp-items"><a href="#">개인정보처리방침</a></li>
                </ul>
                <div class="footer-copy">
                  <p class="txt">Copyright ©2022 Hyundai Research Institute. All Rights Reserved.</p>
                </div>
              </div>
              <div class="info-wrap">
                <div class="info-txt-wrap">
                  <span class="info">서울특별시 종로구 율곡로 194</span>
                  <span class="info"><em>통신판매신고번호</em>제2006-04168호</span>
                </div>
                <div class="info-txt-wrap">
                  <span class="info"><em>TEL</em>02.2072.6300</span>
                  <span class="info"><em>FAX</em>02.2072.6229</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-type2 :: e -->
    </div>

    <!-- import script  -->
    <script src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../libs/bootstrap/popper.min.js"></script>
    <script src="../../libs/jquery/jquery-ui.js"></script>
    <script src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script src="../../libs/dropzone/dropzone.min.js"></script>
    <script src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script src="../../js/common.js"></script>
    <script defer></script>
  </body>
</html>
