<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 오늘의 키워드2 :: s -->
      <div id="keyword2">
        <div class="main-contents-wrap">
          <h3>오늘의 키워드</h3>
          <p class="desc">키워드를 통한 동영상 서비스입니다.</p>
          <div class="contents-list">
            <div class="items">
              <a href="#">
                <h4 class="keyword life">라이프</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword ad">광고</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword economy">경제</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword stress">스트레스</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword travel">여행</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword success">성공</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword camera">카메라</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword mind">마음</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword speech">명언</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword trend">트렌드</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keyword passion">열정</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 오늘의 키워드2 :: e -->
    </div>
  </body>
</html>
