<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 오늘의 키워드1 :: s -->
      <div id="keyword1" class="type2">
        <div class="main-contents-wrap">
          <h3>빠른 메뉴</h3>
          <div class="contents-list">
            <div class="items">
              <a href="#">
                <h4 class="keywords"><img src="../../images/main/img_keyword_en.png" style="width:16px;height:16px;margin-right:0.625rem;">영어뉴스</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keywords"><img src="../../images/main/img_keyword_logo1.png" style="width:16px;height:16px;margin-right:0.625rem;">울산 나라배움터</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keywords"><img src="../../images/main/img_keyword_logo2.png" style="width:16px;height:16px;margin-right:0.625rem;">웹진</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keywords"><img src="../../images/main/img_keyword_book.png" style="width:16px;height:16px;margin-right:0.625rem;">사이버 도서관</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keywords"><img src="../../images/main/img_keyword_library.png" style="width:16px;height:16px;margin-right:0.625rem;">울산광역시</h4>
              </a>
            </div>

            <div class="items">
              <a href="#">
                <h4 class="keywords"><img src="../../images/main/img_keyword_pancle.png" style="width:16px;height:16px;margin-right:0.625rem;">평생교육</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 오늘의 키워드1 :: e -->
    </div>
    #keyword1 .contents-list .items .keyword.en::before {
      background-image: url("../images/main/img_keyword_en.png");
    }
    
    #keyword1 .contents-list .items .keyword.logo1::before {
      background-image: url("../images/main/img_keyword_logo1.png");
    }
    
    #keyword1 .contents-list .items .keyword.logo2::before {
      background-image: url("../images/main/img_keyword_logo2.png");
    }
    
    #keyword1 .contents-list .items .keyword.book::before {
      background-image: url("../images/main/img_keyword_book.png");
    }
    
    #keyword1 .contents-list .items .keyword.library::before {
      background-image: url("../images/main/img_keyword_library.png");
    }
    
    #keyword1 .contents-list .items .keyword.pancle::before {
      background-image: url("../images/main/img_keyword_pancle.png");
    }
  </body>
</html>
