<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- mainHero2 :: s -->
      <div id="mainHero2">
        <div class="main-content swiper">
          <ul class="contents-list swiper-wrapper">
            <li class="items swiper-slide">
              <div class="txt-wrap">
                <div class="txt-en">CREATIVE GALLERY</div>
                <h3>또 다른 세상, 버추얼 일본에서 만나요 또 다른 세상, 버추얼 일본에서 만나요 또 다른 세상, 버추얼 일본에서 만나요 또 다른 세상, 버추얼 일본에서 만나요</h3>
                <p class="desc">
                  빠르게 뛰다 보면, 어느 순간 호흡이 턱 막히는 순간이 옵니다. 
                  인생의 달리기 앞에서 우리가 스스로 속도와 숨을 조절할 수 있는 방법은 무엇일까요? 
                  오롯이 나만의 삶의 이유를 발견하는 시간이 우리에게는 필요합니다.
                </p>
                <ul class="func-list">
                  <li class="func-items">
                    <button><i class="icon-mobile"></i>모바일</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-file"></i>PPT</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-gift"></i>선물하기</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-folder"></i>담기</button>
                  </li>
                </ul>
                <div class="btn-wrap">
                  <button type="button" class="btns btns-black btn-view-cont">콘텐츠 보기</button>
                  <button type="button" class="btns btns-black btns-outline btn-pairing">편성표</button>
                </div>
              </div>
              <div class="img-wrap">
                <img src="https://picsum.photos/400?random=1" alt="">
              </div>
            </li>

            <li class="items swiper-slide">
              <div class="txt-wrap">
                <div class="txt-en">CREATIVE GALLERY</div>
                <h3>또 다른 세상, 버추얼 일본에서 만나요</h3>
                <p class="desc">
                  빠르게 뛰다 보면, 어느 순간 호흡이 턱 막히는 순간이 옵니다. 
                  인생의 달리기 앞에서 우리가 스스로 속도와 숨을 조절할 수 있는 방법은 무엇일까요? 
                  오롯이 나만의 삶의 이유를 발견하는 시간이 우리에게는 필요합니다.
                </p>
                <ul class="func-list">
                  <li class="func-items">
                    <button><i class="icon-mobile"></i>모바일</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-file"></i>PPT</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-gift"></i>선물하기</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-folder"></i>담기</button>
                  </li>
                </ul>
                <div class="btn-wrap">
                  <button type="button" class="btns btns-black btn-view-cont">콘텐츠 보기</button>
                  <button type="button" class="btns btns-black btns-outline btn-pairing">편성표</button>
                </div>
              </div>
              <div class="img-wrap">
                <img src="https://picsum.photos/400?random=2" alt="">
              </div>
            </li>

            <li class="items swiper-slide">
              <div class="txt-wrap">
                <div class="txt-en">CREATIVE GALLERY</div>
                <h3>또 다른 세상, 버추얼 일본에서 만나요</h3>
                <p class="desc">
                  빠르게 뛰다 보면, 어느 순간 호흡이 턱 막히는 순간이 옵니다. 
                  인생의 달리기 앞에서 우리가 스스로 속도와 숨을 조절할 수 있는 방법은 무엇일까요? 
                  오롯이 나만의 삶의 이유를 발견하는 시간이 우리에게는 필요합니다.
                </p>
                <ul class="func-list">
                  <li class="func-items">
                    <button><i class="icon-mobile"></i>모바일</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-file"></i>PPT</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-gift"></i>선물하기</button>
                  </li>
                  <li class="func-items">
                    <button><i class="icon-folder"></i>담기</button>
                  </li>
                </ul>
                <div class="btn-wrap">
                  <button type="button" class="btns btns-black btn-view-cont">콘텐츠 보기</button>
                  <button type="button" class="btns btns-black btns-outline btn-pairing">편성표</button>
                </div>
              </div>
              <div class="img-wrap">
                <img src="https://picsum.photos/400?random=3" alt="">
              </div>
            </li>
          </ul>
          <div class="swiper-option">
            <div class="swiper-pagination"></div>
            <div class="swiper-btn-wrap">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </div>
      <script defer>
        document.addEventListener('DOMContentLoaded', () => {
          const createSwiperMainHero2 = new Swiper('#mainHero2 .main-content', {
            loop : true,
            slidesPerView : 1,
            spaceBetween: 0,
            pagination: {
              el: '#mainHero2 .swiper-pagination',
              clickable: true,
            },
            navigation: {
              nextEl: '#mainHero2 .swiper-button-next',
              prevEl: '#mainHero2 .swiper-button-prev',
            },
            // breakpoints: {
            //   768: {
            //     spaceBetween: 30,
            //   },
            // },
          });
        });
      </script>
      <!-- mainHero2 :: e -->
    </div>
  </body>
</html>
