<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- mainTody :: s -->
      <div id="mainTody" class="type2"><!-- 타입별 클래스 -->
        <div class="main-content swiper">
			<div class="head">
				<h2><img src="../../images/main/today.png"><b>마이크로러닝</b>Today’s Contents!</h2>
				<!--
				<p class="btn_view">
					<a href="" class="schedule">편성표 보기</a>
					<a href="" class="continus">콘텐츠 연속보기</a>
				</p>
				-->
			</div>
		  <div class="swiper-option">
            <div class="swiper-pagination"></div>
            <div class="swiper-btn-wrap">
              <div class="swiper-button-arrows swiper-button-prev"></div>
              <div class="swiper-button-arrows swiper-button-next"></div>
            </div>
          </div>
          <ul class="contents-list swiper-wrapper">
            
			
			<li class="items swiper-slide">
				<div class="card-wrap">
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202307210036133585118.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291942389096971.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>꼰대 탈출 대 작전</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311232032462157901.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311281505083047848.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
				</div>
            </li>
			<li class="items swiper-slide">
				<div class="card-wrap">
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291942389096971.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291523364559855.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>세계 2차전지 공급망 구조 현황과 시사점</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291601240976146.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>꼰대 탈출 대 작전</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202312041603372854687.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
				</div>
            </li>
			<li class="items swiper-slide">
				<div class="card-wrap">
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202307210036133585118.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291942389096971.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>꼰대 탈출 대 작전</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311232032462157901.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311281505083047848.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
				</div>
            </li>
			<li class="items swiper-slide">
				<div class="card-wrap">
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291942389096971.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291523364559855.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>세계 2차전지 공급망 구조 현황과 시사점</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291601240976146.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>꼰대 탈출 대 작전</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202312041603372854687.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
				</div>
            </li>
			<li class="items swiper-slide">
				<div class="card-wrap">
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202307210036133585118.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311291942389096971.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>꼰대 탈출 대 작전</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311232032462157901.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
					<a href="">
						<img src="https://s3cdn.creativetv.co.kr/home/ec2-user/upload/root/contents/thumb/202311281505083047848.jpg" alt="">
						<dl>
							<dt>감정 문해력 수업</dt>
							<dd>말하지 않아도 느끼는 한국인의  초능력</dd>
						</dl>
					</a>
				</div>
            </li>

          </ul>
        </div>
      </div>
      <script defer>
        document.addEventListener('DOMContentLoaded', () => {
		  var bullet = ['2023.11.28', '2023.11.27', '2023.11.26', '2023.11.25', '2023.11.24', '2023.11.23'];
          const createSwiperMainTody = new Swiper('#mainTody .main-content', {
			direction: "horizontal",
			//initialSlide: 4,//start index
            loop : true,
			autoHeight : true,
            slidesPerView : 1,
            spaceBetween: 0,
			mousewheel: true,
            pagination: {
              el: '#mainTody .swiper-pagination',
              clickable: true,
			  renderBullet: function (index, className) { 	return '<span class="' + className + '">' + (bullet[index]) + '</span>'; }
            },
			breakpoints: {
               992: {
                 direction: "vertical",
               },
             },
            navigation: {
              nextEl: '#mainTody .swiper-button-next',
              prevEl: '#mainTody .swiper-button-prev',
            },
          });
		  if($("#mainTody .swiper-slide").length > 1) {
			  $(".swiper-option").fadeIn(0);
		  }
		  
        });
      </script>
      <!-- mainTody :: e -->
    </div>
  </body>
</html>
