<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- mainHero1 :: s -->
      <div id="mainHero1">
        <div class="main-hero1-wrapper fluid-wrap">
          <div class="pairing-date">
            <div class="top-toolbar">
              <h3>편성표</h3>
              <div class="btn-wrap">
                <button class="btns"><i class="icon-repeat"></i>콘텐츠 연속보기</button>
                <button class="btns"><i class="icon-depth"></i>편성표</button>
              </div>
            </div>
            <div class="date-list swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="#" class="item">2023.01.30.</a></div>
                <div class="swiper-slide"><a href="#" class="item">2023.01.29.</a></div>
                <div class="swiper-slide"><a href="#" class="item">2023.01.28.</a></div>
                <div class="swiper-slide"><a href="#" class="item">2023.01.27.</a></div>
                <div class="swiper-slide"><a href="#" class="item">2023.01.26.</a></div>
                <div class="swiper-slide"><a href="#" class="item">2023.01.25.</a></div>
              </div>
              <!-- swiper button -->
              <div class="swiper-btn swiper-button-prev"></div>
              <div class="swiper-btn swiper-button-next"></div>
            </div>
          </div>
          <div class="pairing-content">
            <ul class="contents-list">
              <li class="items active">
                <div class="thumb-wrap">
                  <img src="https://picsum.photos/400?random" alt="" />
                  <div class="txt-info">
                    <h4 class="title">나무의 지혜, 나는 나무처럼 살고 싶다</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </div>
                <div class="detail-info">
                  <p class="category">
                    <span class="lv">라이프</span>
                    <span class="lv">웰빌 라이프</span>
                  </p>
                  <p class="desc">오래전부터 사람들은 불안해서 걷거나 이별과 상실, 우울 등으로 인해 걸었습니다. 마음이 힘들 때, 왜 이토록 걷는 것일까요?</p>
                  <ul class="func-list">
                    <li class="func-items">
                      <button><i class="icon-mobile"></i>모바일</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-file"></i>PPT</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-gift"></i>선물하기</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-folder"></i>담기</button>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="items">
                <div class="thumb-wrap">
                  <img src="https://picsum.photos/400?random=2" alt="" />
                  <div class="txt-info">
                    <h4 class="title">나무의 지혜, 나는 나무처럼 살고 싶다</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </div>
                <div class="detail-info">
                  <p class="category">
                    <span class="lv">라이프</span>
                    <span class="lv">웰빌 라이프</span>
                  </p>
                  <p class="desc">오래전부터 사람들은 불안해서 걷거나 이별과 상실, 우울 등으로 인해 걸었습니다. 마음이 힘들 때, 왜 이토록 걷는 것일까요?</p>
                  <ul class="func-list">
                    <li class="func-items">
                      <button><i class="icon-mobile"></i>모바일</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-file"></i>PPT</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-gift"></i>선물하기</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-folder"></i>담기</button>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="items">
                <div class="thumb-wrap">
                  <img src="https://picsum.photos/400?random=3" alt="" />
                  <div class="txt-info">
                    <h4 class="title">나무의 지혜, 나는 나무처럼 살고 싶다</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </div>
                <div class="detail-info">
                  <p class="category">
                    <span class="lv">라이프</span>
                    <span class="lv">웰빌 라이프</span>
                  </p>
                  <p class="desc">오래전부터 사람들은 불안해서 걷거나 이별과 상실, 우울 등으로 인해 걸었습니다. 마음이 힘들 때, 왜 이토록 걷는 것일까요?</p>
                  <ul class="func-list">
                    <li class="func-items">
                      <button><i class="icon-mobile"></i>모바일</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-file"></i>PPT</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-gift"></i>선물하기</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-folder"></i>담기</button>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="items">
                <div class="thumb-wrap">
                  <img src="https://picsum.photos/400?random=4" alt="" />
                  <div class="txt-info">
                    <h4 class="title">나무의 지혜, 나는 나무처럼 살고 싶다</h4>
                    <p class="creator">남희경</p>
                    <p class="h-tag">
                      <span>호흡</span>
                      <span>리추얼</span>
                      <span>리듬</span>
                      <span>자극</span>
                    </p>
                  </div>
                </div>
                <div class="detail-info">
                  <p class="category">
                    <span class="lv">라이프</span>
                    <span class="lv">웰빌 라이프</span>
                  </p>
                  <p class="desc">오래전부터 사람들은 불안해서 걷거나 이별과 상실, 우울 등으로 인해 걸었습니다. 마음이 힘들 때, 왜 이토록 걷는 것일까요?</p>
                  <ul class="func-list">
                    <li class="func-items">
                      <button><i class="icon-mobile"></i>모바일</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-file"></i>PPT</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-gift"></i>선물하기</button>
                    </li>
                    <li class="func-items">
                      <button><i class="icon-folder"></i>담기</button>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <script defer>
          document.addEventListener('DOMContentLoaded', () => {
            function createSwiperMainHero1(target) {
              options = {
                direction: 'horizontal',
                loop: true,
                slidesPerView: 1,
                spaceBetween: 0,
                slideToClickedSlide: false,
                mousewheel: {
                  invert: true,
                  forceToAxis: true,
                  sensitivity: 0.5,
                },
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                  576: {
                    direction: 'vertical',
                    slidesPerView: 6,
                    spaceBetween: 0,
                    slideToClickedSlide: true,
                  },
                },
              };

              const swiperWrap = [...target.children].find((item) => {
                if (item.classList.contains('swiper-wrapper')) return item;
              });
              const swiperLists = [...swiperWrap.children].map((item) => item.cloneNode(true));
              swiperLists.forEach((item) => swiperWrap.append(item));
              const swiper = new Swiper(target, options);
            }

            createSwiperMainHero1(document.querySelector('#mainHero1 .date-list'));

            function onContentClick(event) {
              if (event.currentTarget.classList.contains('active')) return;
              document.querySelectorAll('#mainHero1 .contents-list > .items').forEach((item) => item.classList.remove('active'));
              event.currentTarget.classList.add('active');
            }

            document.querySelectorAll('#mainHero1 .contents-list > .items').forEach((item) => {
              item.addEventListener('click', onContentClick);
            });
          });
        </script>
      </div>
      <!-- mainHero1 :: e -->
    </div>
  </body>
</html>
