<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
	<link rel="stylesheet" href="../../css/stylesAdd_N0290.css">
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 나의 현황 :: s -->
		 <!--  <div id="myStatus" class="jw">
			<div class="main-contents-wrap">
			  <div class="contents-wrap">
				<div class="cont">
				  <div class="greeting">
					<p class="user"><span class="name">스마트</span>님, 환영합니다.</p>
				  </div>
				  <div class="credit point">
					<a href="#">
					  <div class="title">나의 포인트</div>
					  <div class="num">300</div>
					</a>
				  </div>
				  <div class="credit">
					<a href="#">
					  <div class="title">다음 E-test 일정</div>
					  <div class="num">D-150<time>(2023.03.11)</time></div>
					</a>
				  </div>-->
				  
				  <!-- <div class="credit">
					<a href="#" class="comming">
					  <div class="title">다음 E-test 일정</div>
					  <div class="num">오픈준비중<time>(2월 중 오픈예정)</time></div>
					</a>
				  </div> -->
				 
				 <!-- </div>
				<div class="cont">
				  <div class="e-learning ico01">
					<div class="title">이러닝</div>
					<a href="#"><div class="myrecent">나의 학습현황</div></a>
					<div class="status">
					  <div class="data-wrap">
						<div class="data"><span class="txt">공통과정 수료율</span><span class="num">50%</span></div>
						<div class="data"><span class="txt">신청가능한 선택과정 </span><span class="num">98</span></div>
						<div class="data"><span class="txt">수료한 선택과정</span><span class="num">2</span></div>
					  </div>
					</div>
				  </div>
				  <div class="microlearning ico02">
					<div class="title">나의 배지 현황</div>
					<div class="status">
					  <div class="data-wrap">
						<div class="data"><span class="txt">나의 배지 수</span><span class="num">2</span></div>
						<div class="data"><span class="txt">E-TEST<br />점수</span><span class="num">100</span></div>
						<div class="data"><span class="txt">선택과정 수료</span><span class="num">n</span><span class="num all">/5</span></div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div> -->

		  <!-- <div id="myStatus" class="jw">
			<div class="main-contents-wrap">
			  <div class="contents-wrap">
				<div class="cont">
				  <div class="greeting">
					<p class="user"><span class="name">스마트</span>님, 환영합니다.</p>
				  </div>
				  <div class="credit point">
					<a href="#">
					  <div class="title">나의 포인트</div>
					  <div class="num">300</div>
					</a>
				  </div>
				  
				  <div class="credit">
					<a href="#" class="comming">
					  <div class="title">다음 E-test 일정</div>
					  <div class="num">오픈준비중<time>(2월 중 오픈예정)</time></div>
					</a>
				  </div>
				 
				</div>
				<div class="cont">
				  <div class="e-learning ico01">
					<div class="title">이러닝</div>
					<a href="#"><div class="myrecent">나의 학습현황</div></a>
					<div class="status">
					  <div class="data-wrap">
						<div class="data"><span class="txt">공통과정 수료율</span><span class="num">50%</span></div>
						<div class="data"><span class="txt">신청가능한 선택과정 </span><span class="num">98</span></div>
						<div class="data"><span class="txt">수료한 선택과정</span><span class="num">2</span></div>
					  </div>
					</div>
				  </div>
				  <div class="microlearning ico02">
					<div class="title">나의 배지 현황</div>
					<div class="status">
					  <div class="data-wrap">
						<div class="data"><span class="txt">나의 배지 수</span><span class="num">2</span></div>
						<div class="data"><span class="txt">E-TEST<br />점수</span><span class="num">100</span></div>
						<div class="data"><span class="txt">선택과정 수료</span><span class="num">n</span><span class="num all">/5</span></div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div> -->

		  <div id="myStatus" class="jw">
			<div class="main-contents-wrap">
			  <div class="contents-wrap">
				<div class="cont">
				  <div class="greeting">
					<p class="user"><span class="name">스마트</span>님, 환영합니다.</p>
				  </div>
				
				  <!-- <div class="credit">
					<a href="#">
					  <div class="title">다음 E-test 일정</div>
					  <div class="num">D-150<time>(2023.03.11)</time></div>
					</a>
				  </div> -->
				  
				  <div class="credit">
					<a href="#" class="comming">
					  <div class="title">다음 E-test 일정</div>
					  <div class="num">오픈준비중<time>(2월 중 오픈예정)</time></div>
					</a>
				  </div>
				  <div class="credit point">
					<a href="#">
					  <div class="title">나의 포인트</div>
					  <div class="num">300</div>
					</a>
				  </div>
				 
				</div>
				<div class="cont">
				  <div class="e-learning ico01">
					<div class="title">이러닝</div>
					<a href="#"><div class="myrecent">나의 학습현황</div></a>
					<div class="status">
					  <div class="data-wrap">
						<div class="data"><span class="txt">공통과정 수료율</span><span class="num">50%</span></div>
						<div class="data"><span class="txt">선택과정 수료</span><span class="num">n</span><span class="num all">/5</span></div>
					  </div>
					</div>
				  </div>
				  <div class="microlearning ico02">
					<div class="title">나의 배지 현황</div>
					<div class="status">
					  <div class="data-wrap">
						<!-- <div class="data"><span class="txt">나의 배지 수</span><span class="num">2</span></div> -->
						<div class="data"><span class="txt">자기주도학습 배지</span><span class="num"><img src="../../images/main/ico_badge01_00.png"></span></div>
						<div class="data"><span class="txt">Master MR 배지</span><span class="num"><img src="../../images/main/ico_badge02_00.png"></span></div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <!-- 나의 현황 :: e -->
	 <div id="myStatus" class="jw">
		<div class="main-contents-wrap">
			<div class="toolbar-tab-contents">
							<!-- table :: s -->
							<table class="table list">
								<colgroup>
								  <col width="*">
								</colgroup>
								<thead>
								  <tr>
									<th scope="col" >구분</th>
									<th scope="col" >배지 1 </th>
									<th scope="col" >배지 2</th>
									<th scope="col" >배지 3</th>
									<th scope="col" >배지 4</th>

								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td> 자기주도학습 배지</td>
									<td><img src="../../images/main/ico_badge01_01.png"></td>
									<td><img src="../../images/main/ico_badge01_02.png"></td>
									<td><img src="../../images/main/ico_badge01_03.png"></td>
									<td><img src="../../images/main/ico_badge01_04.png"></td>
									
								  </tr>
								  <tr>
									<td>Master MR 배지</td>
									<td><img src="../../images/main/ico_badge02_01.png"></td>
									<td><img src="../../images/main/ico_badge02_02.png"></td>
									<td><img src="../../images/main/ico_badge02_03.png"></td>
									<td><img src="../../images/main/ico_badge02_04.png"></td>
							
								  </tr>

								</tbody>
							  </table>
  
						  </div>
	
		</div>
	</div>
</div>
  </body>
</html>
