<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>

    <style>
      #myStatus .cont .e-learning::after, #myStatus .cont .microlearning::after {
    z-index:1;
}
#myStatus .status .data-wrap{
  z-index:10;
}
    </style>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 나의 현황 :: s -->
      <div id="myStatus">
        <div class="main-contents-wrap">
          <div class="contents-wrap">
            <div class="cont">
              <div class="greeting">
                <p class="user"><span class="name">스마트</span>님,</p>
                <p>Knowlt 오신 것을 환영합니다.</p>
              </div>
              <div class="credit">
                <a href="#">
                  <div class="title">나의 학점</div>
                  <div class="num">30</div>
                </a>
              </div>
              <div class="stamp">
                <a href="#">
                  <div class="title">나의 스탬프</div>
                  <div class="num">512</div>
                </a>
              </div>
            </div>
            <div class="cont">
              <div class="e-learning">
                <div class="title">이러닝</div>
                <a href="#"><div class="myrecent">나의 학습현황</div></a>
                <div class="status">
                  <div class="data-wrap">
                    <div class="data"><span class="txt">대기중</span><span class="num"><a href="#">62</a></span></div>
                    <div class="data"><span class="txt">학습중</span><span class="num"><a href="#">100</a></span></div>
                    <div class="data"><span class="txt">학습종료</span><span class="num"><a href="#">99999999</a></span></div>
                  </div>
                  <!-- <div class="compare down">
                    <div class="data"><span class="num">40</span>%</div>
                    <div class="txt">지난달 대비 (학습중)</div>
                  </div> -->
                </div>
              </div>
              <div class="microlearning">
                <div class="title">마이크로러닝</div>
                <a href="#"><div class="myrecent">나의 학습현황</div></a>
                <div class="status">
                  <div class="data-wrap">
                    <div class="data"><span class="txt">관심콘텐츠</span><span class="num"><a href="">15</a></span></div>
                    <div class="data"><span class="txt">시청수</span><span class="num"><a href="">18</a></span></div>
                    <div class="data"><span class="txt">시리즈</span><span class="num"><a href="">999</a></span></div>
                  </div>
                  <!-- <div class="compare up">
                    <div class="data"><span class="num">40</span>%</div>
                    <div class="txt">지난달 대비 (시청수)</div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 나의 현황 :: e -->
    </div>
  </body>
</html>
