<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/stylesAdd_N0131.css">
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
    <!-- <style>
        #myStatus .cont .e-learning::after, #myStatus .cont .microlearning::after {
      z-index:1;
  }
  #myStatus .status .data-wrap{
    z-index:10;
  }
  #myStatus .cont .e-learning .myrecent a:hover,
  #myStatus .cont .microlearning .myrecent a:hover{
    color:#fff;
    font-weight: 500;
  }
  #myStatus .cont .e-learning .data .num a:hover, #myStatus .cont .microlearning .data .num a:hover{
    color:#fff5a9;
  }
  #myStatus .cont .notice a .num{
  font-size: 1.05rem;
}
      </style> -->

  </head>
  <body>
    <div class="body-wrap">
      <!-- 나의 현황 :: s -->
      <div id="myStatus">
        <div class="main-contents-wrap">
          <div class="contents-wrap">
            <div class="cont">
              <div class="greeting">
                <p class="user"><span class="name">스마트</span>님,</p>
                <p>학습현황을 확인하세요!</p>
              </div>

              <div class="notice">
                <a href="#">
                  <div class="title">수강신청현황</div>
                  <div class="num">매월 1일~28일</div>
                </a>
              </div>
              <div class="credit">
                <a href="#">
                  <div class="title">법정 필수
                    이수 현황</div>
                  <div class="num">333</div>
                </a>
              </div>
            </div>
            <div class="cont">
              <div class="e-learning">
                <div class="title">이러닝</div>
                <div class="myrecent"><a href="#">나의 학습현황</a></div>
                <div class="status">
                  <div class="data-wrap">
                    <div class="data"><span class="txt">대기중</span><span class="num"><a href="#">62</a></span></div>
                    <div class="data"><span class="txt">학습중</span><span class="num"><a href="#">100</a></span></div>
                    <div class="data"><span class="txt">학습종료</span><span class="num"><a href="#">99999999</a></span></div>
                  </div>
                  <!-- <div class="compare down">
                    <div class="data"><span class="num">40</span>%</div>
                    <div class="txt">지난달 대비 (학습중)</div>
                  </div> -->
                </div>
              </div>
              <div class="microlearning">
                <div class="title">마이크로러닝</div>
                <div class="myrecent"><a href="#">나의 학습현황</a></div>
                <div class="status">
                    <div class="data-wrap">
                        <div class="data"><span class="txt">학습완료 콘텐츠</span><span class="num"><a href="">15</a></span></div>
                        <div class="data"><span class="txt">학습 시간</span><span class="num"><a href="">09:45:25</a></span></div>
                        <div class="data"><span class="txt">좋아요 콘텐츠</span><span class="num"><a href="">25</a></span></div>
                       
                      </div>
                  <!-- <div class="compare up">
                    <div class="data"><span class="num">40</span>%</div>
                    <div class="txt">지난달 대비 (시청수)</div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 나의 현황 :: e -->
    </div>
  </body>
</html>
