<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 공지사항&FAQ1 :: s -->
      <div id="notice1">
        <div class="main-contents-wrap">
          <div class="contents-list">
            <!-- 공지사항 :: s -->
            <div class="list-wrap">
              <h3>공지사항</h3>
              <div class="items">
                <a href="#">
                  <p class="sub-title">공지</p>
                  <h4 class="title">카카오 서비스 오류로 인한 콘텐츠 알림톡 발송 중단 안내</h4>
                  <p class="cont">안녕하세요. 10/15 오후 3시경 카카오 데이터센터 화재로 인해 아직 일부 서비스가 복구되지 않아 카카오 콘</p>
                  <p class="date">2022.10.17</p>
                </a>
              </div>
              <div class="items">
                <a href="#">
                  <p class="sub-title">시리즈 소개</p>
                  <h4 class="title">[특집기획] 어느 순간 멈췄다고 생각된다면 : 성장질문</h4>
                  <p class="cont">1편 세계가 사랑한 팝페라 월드스타, 임형주</p>
                  <p class="date">2022.09.30</p>
                </a>
              </div>
            </div>
            <!-- 공지사항 :: e -->
  
            <!-- FAQ :: s -->
            <div class="list-wrap">
              <h3>FAQ</h3>
              <div class="items">
                <a href="#">
                  <p class="sub-title">이용문의</p>
                  <h4 class="title">모바일 애플리케이션 이용 안내</h4>
                </a>
              </div>
              <div class="items">
                <a href="#">
                  <p class="sub-title">이용문의</p>
                  <h4 class="title">연속재생관련(PC/모바일 기준 다름)</h4>
                </a>
              </div>
              <div class="items">
                <a href="#">
                  <p class="sub-title">오류문의</p>
                  <h4 class="title">콘텐츠 플러스 부분이 갑자기 재생이 되지 않습니다.</h4>
                </a>
              </div>
            </div>
            <!-- FAQ :: e -->
          </div>
        </div>
      </div>
      <!-- 공지사항&FAQ1 :: e -->
    </div>
  </body>
</html>
