<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
      <!-- 공지사항&FAQ2 :: s -->
      <div id="notice2">
        <div class="main-contents-wrap">
          <div class="tab-contents">
            <ul>
              <li class="tab-list active">공지사항</li>
              <li class="tab-list">FAQ</li>
            </ul>
            <div class="tab-cont-wrap">
              <!-- 공지사항 :: s -->
              <div class="tab-cont active">
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">공지</p>
                      <h4 class="title">카카오 서비스 오류로 인한 콘텐츠 알림톡 발송 중단 안내</h4>
                      <p class="date">2022.10.17</p>
                    </div>
                  </a>
                </div>
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">공지</p>
                      <h4 class="title">카카오 서비스 오류로 인한 콘텐츠 알림톡 발송 중단 안내</h4>
                      <p class="date">2022.10.17</p>
                    </div>
                  </a>
                </div>
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">시리즈 소개</p>
                      <h4 class="title">[특집기획] 어느 순간 멈췄다고 생각된다면 : 성장질문</h4>
                      <p class="date">2022.09.30</p>
                    </div>
                  </a>
                </div>
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">시리즈 소개</p>
                      <h4 class="title">[특집기획] 어느 순간 멈췄다고 생각된다면 : 성장질문</h4>
                      <p class="date">2022.09.30</p>
                    </div>
                  </a>
                </div>
              </div>
              <!-- 공지사항 :: e -->
  
              <!-- FAQ :: s -->
              <div class="tab-cont">
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random=1" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">이용문의</p>
                      <h4 class="title">카카오 서비스 오류로 인한 콘텐츠 알림톡 발송 중단 안내</h4>
                      <p class="date">2022.10.17</p>
                    </div>
                  </a>
                </div>
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random=1" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">공지</p>
                      <h4 class="title">카카오 서비스 오류로 인한 콘텐츠 알림톡 발송 중단 안내</h4>
                      <p class="date">2022.10.17</p>
                    </div>
                  </a>
                </div>
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random=1" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">시리즈 소개</p>
                      <h4 class="title">[특집기획] 어느 순간 멈췄다고 생각된다면 : 성장질문</h4>
                      <p class="date">2022.09.30</p>
                    </div>
                  </a>
                </div>
                <div class="items">
                  <a href="#">
                    <div class="thumb-wrap">
                      <img src="https://picsum.photos/400?random=1" alt="" />
                    </div>
                    <div class="txt-info">
                      <p class="sub-title">시리즈 소개</p>
                      <h4 class="title">[특집기획] 어느 순간 멈췄다고 생각된다면 : 성장질문</h4>
                      <p class="date">2022.09.30</p>
                    </div>
                  </a>
                </div>
              </div>
              <!-- FAQ :: e -->
            </div>
          </div>
        </div>
      </div>
      <!-- 공지사항&FAQ2 :: e -->
      <script defer>
        document.addEventListener('DOMContentLoaded', () => {
          const Notice2TabList = document.querySelectorAll('#notice2 .tab-list');
          const Notice2TabCont = document.querySelectorAll('#notice2 .tab-cont');

          Notice2TabList.forEach((tab, index) => {
            tab.addEventListener('click', function () {
              Notice2TabList.forEach((el) => {
                el.classList.remove('active');
              });
              Notice2TabList[index].classList.add('active');

              Notice2TabCont.forEach((cont) => {
                cont.classList.remove('active');
              });
              Notice2TabCont[index].classList.add('active');
            });
          });
        });
      </script>
    </div>
  </body>
</html>
