<!DOCTYPE html>
<html lang="ko" data-color-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../libs/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="../../libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <!-- import script -->
    <script defer src="../../libs/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../../libs/bootstrap/popper.min.js"></script>
    <script defer src="../../libs/jquery/jquery-ui.js"></script>
    <script defer src="../../libs/datepicker/datepicker-full.min.js"></script>
    <script defer src="../../libs/dropzone/dropzone.min.js"></script>
    <script defer src="../../libs/swiper/swiper-bundle.min.js"></script>
    <script defer src="../../js/common.js"></script>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>HRI</title>
  </head>
  <body>
    <div class="body-wrap">
     <!-- HRI 보고서 :: s -->
		  <div id="reportHRI">
            <div class="main-contents-wrap">
              <h3>HRI 보고서</h3>
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
				  	<p><a href=""><img src="https://test.hri.co.kr/upload/board/2887010077_v3qjXnfk_20231127012754.jpg"></a></p>
					<dl>
						<dt><em class="color1">현안과 과제</em><b>2024년 한국 경제 전망 - 잠재성장률 수준 복귀 기대 속 장기 저성장 우려 차단 필요</b></dt>
						<dd><b>연구자</b><span>주원, 이부형 이형석</span></dd>
						<dd><b>발행일</b><span>2023.11.23</span></dd>
						<dd><a href="">보고서 다운받기</a></dd>
					</dl>
				  </div>
				  <div class="swiper-slide">
				  	<p><a href=""><img src="https://test.hri.co.kr/upload/board/2887056073_PZxY8b92_20231116011335.jpg"></a></p>
					<dl>
						<dt><em class="color2">경제주평</em><b>대 중국 수출 감소가 한국 경제에 미치는 영향과 시사점</b></dt>
						<dd><b>연구자</b><span>주원, 이부형 이형석</span></dd>
						<dd><b>발행일</b><span>2023.11.23</span></dd>
						<dd><a href="">보고서 다운받기</a></dd>
					</dl>
				  </div>
				  <div class="swiper-slide">
				  	<p><a href=""><img src="https://test.hri.co.kr/upload/board/2887010077_v3qjXnfk_20231127012754.jpg"></a></p>
					<dl>
						<dt><em class="color3">경제주평</em><b>2024년 한국 경제 전망 - 잠재성장률 수준 복귀 기대 속 장기 저성장 우려 차단 필요</b></dt>
						<dd><b>연구자</b><span>주원, 이부형 이형석</span></dd>
						<dd><b>발행일</b><span>2023.11.23</span></dd>
						<dd><a href="">보고서 다운받기</a></dd>
					</dl>
				  </div>
				  <div class="swiper-slide">
				  	<p><a href=""><img src="https://test.hri.co.kr/upload/board/2887010077_v3qjXnfk_20231127012754.jpg"></a></p>
					<dl>
						<dt><em class="color1">현안과 과제</em><b>2024년 한국 경제 전망 - 잠재성장률 수준 복귀 기대 속 장기 저성장 우려 차단 필요</b></dt>
						<dd><b>연구자</b><span>주원, 이부형 이형석</span></dd>
						<dd><b>발행일</b><span>2023.11.23</span></dd>
						<dd><a href="">보고서 다운받기</a></dd>
					</dl>
				  </div>
				  <div class="swiper-slide">
				  	<p><a href=""><img src="https://test.hri.co.kr/upload/board/2887010077_v3qjXnfk_20231127012754.jpg"></a></p>
					<dl>
						<dt><em class="color2">경제주평</em><b>2024년 한국 경제 전망 - 잠재성장률 수준 복귀 기대 속 장기 저성장 우려 차단 필요</b></dt>
						<dd><b>연구자</b><span>주원, 이부형 이형석</span></dd>
						<dd><b>발행일</b><span>2023.11.23</span></dd>
						<dd><a href="">보고서 다운받기</a></dd>
					</dl>
				  </div>
				  <div class="swiper-slide">
				  	<p><a href=""><img src="https://test.hri.co.kr/upload/board/2887010077_v3qjXnfk_20231127012754.jpg"></a></p>
					<dl>
						<dt><em class="color3">경제주평</em><b>2024년 한국 경제 전망 - 잠재성장률 수준 복귀 기대 속 장기 저성장 우려 차단 필요</b></dt>
						<dd><b>연구자</b><span>주원, 이부형 이형석</span></dd>
						<dd><b>발행일</b><span>2023.11.23</span></dd>
						<dd><a href="">보고서 다운받기</a></dd>
					</dl>
				  </div>
                </div>
              </div>
			  <div class="swiper-btn-wrap">
				  <div class="swiper-btn-prev"></div>
				  <div class="swiper-btn-next"></div>
				</div>
            </div>
          </div>
		  <script defer>
			document.addEventListener('DOMContentLoaded', () => {
			  
			 const createSwiperHRI = new Swiper('#reportHRI .swiper', {
				loop : true,
				autoHeight : true,
				slidesPerView : 1.2,
				spaceBetween: 8,
				navigation: {
				  nextEl: '#reportHRI .swiper-btn-next',
				  prevEl: '#reportHRI .swiper-btn-prev',
				},
				breakpoints: {
					576: {
					  slidesPerView: 1.6,
					  spaceBetween: 16,
					},
					776: {
					  slidesPerView: 2,
					  spaceBetween: 16,
					},
					1024: {
					  slidesPerView: 3,
					  spaceBetween: 16,
					},
				},
				pagination: {
					  el: '#reportHRI .swiper-pagination',
					  clickable: true,
					},
			  });
			});
		  </script>
          <!-- HRI 보고서 :: e -->
    </div>
  </body>
</html>
