.cs {
  padding-top: 1.5rem;

  .notice {
    .tb-cs-notice {
      tbody {
        tr {
          td {
            &:last-of-type {
              color: var(--gray-color-700);
            }
          }
        }
        
        td {
          &:nth-child(3){
            text-align: left;
            font-size: 1rem;
            font-weight: 600;
          }

          i {
            font-size: 1.125rem;
            color: var(--gray-color-500);
          }
        }
      }
    }
  }
}

/*
* responsive
*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .cs {
    padding-top: 0;
  }

  .notice {
    .tb-cs-notice {
      .table {
        min-width: 100%;

        col {
          width: 100% !important;

          &:first-child,
          &:nth-child(4) {
            display: none;
          }
        }

        thead {
          display: none;
        }

        tbody {
          tr {
            position: relative;
            border-bottom: 1px solid var(--gray-color-300);
            display: block;
            padding: 1.5rem 1rem;

            &:last-child {
              border-color: var(--gray-color-900);
            }
          }

          td {
            display: block;
            border-bottom: none;
            text-align: left;
            padding: 0;
            height: auto;

            &:first-child,
            &:nth-child(4) {
              display: none;
              margin-top: 0;
            }

            &:nth-child(3) {
              @include multi-text-overflow(1);
              margin-top: 0.5rem;
              font-weight: 400;
            }

            &:last-child {
              margin-top: 0.75rem;
            }

            &.use-inquiry,
            &.notice {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
}