.memberpage {
  &.join {
    padding-top: 3rem;
  }

  .join-contents {
    .join-header {
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;

      h3 {
        font-size: 1.5rem;
        color: var(--gray-color-900);
        margin-bottom: 0;
      }
    }

    .stepper-type2 {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .stepper-item {
        display: inline-block;
        font-size: 0.75rem;
        width: 1.5rem;
        height: 1.5rem;
        color: var(--gray-color-300);
        border: 2px solid var(--gray-color-300);
        border-radius: 50%;
        text-align: center;
        line-height: 1.7;

        &.ing {
          color: var(--primary-color-500);
          border-color: var(--primary-color-500);
        }

        &.clear {
          background-color: var(--primary-color-500);
          border-color: var(--primary-color-500);
          color: var(--primary-color-500);
          position: relative;

          &::after {
            content: "";
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            background: url('../images/sub/icon_stepper_checked.png') center/0.75rem no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .btn-wrap {
      margin-top: 3rem;

      button {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    &.agree {
      .join-cont {
        border: 1px solid var(--gray-color-300);
        border-radius: 0.5rem;
  
        .desc-item {
          padding: 1rem;
          border-bottom: 1px solid var(--gray-color-300);
  
          &:last-child {
            border-bottom: none;
          }
  
          .item-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--gray-color-300);
  
            .title {
              font-size: 1rem;
              font-weight: 600;
              color: var(--gray-color-900);
  
              em {
                font-weight: 400;
                color: var(--primary-color-500);
              }
            }
  
            .checkbox-wrap {
              margin-right: 0;
              padding-left: 1.2rem;

              .label-checkbox {
                top: -0.8125rem;
              }
            }
          }
  
          .item-cont {
            padding: 1rem 0.75rem 1rem 0;
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--gray-color-500);
            line-height: 1.4;
            max-height: 10.625rem;
            overflow-y: auto;
  
            .desc-list {
              ul {
                padding-left: 1.25rem;
  
                li {
                  list-style-type: decimal;;
                }
              }
            }
          }
        }
      }
    }
    
    &.authentication {
      .join-cont {
        .desc {
          line-height: 1.4;

          em {
            color: var(--primary-color-500);
          }
        }

        .desc-item {
          border: 1px solid var(--gray-color-300);
          border-radius: 0.5rem;
          padding: 1rem;
          margin-top: 1rem;

          .athnt-type {
            font-size: 1rem;
            font-weight: 600;
          }

          .txt {
            color: var(--gray-color-500);
            margin-top: 0.5rem;
            line-height: 1.4;
          }

          .btn-athnt {
            font-size: 0.75rem;
            height: 1.8125rem;
            padding: 0 0.5rem;
            margin: 2rem 0 0 auto;
            gap: 0.25rem;

            i {
              font-size: 0.75rem;
            }
          }
        }
      }

      .btn-wrap {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
          margin-top: 0;
        }
      }
    }

    &.user-info {
      .row {
        .col {
          .txt {
            &.input-myinfo {
              font-size: 1rem;
              font-weight: 600;
              color: var(--primary-color-500);
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              gap: 0.5rem;
            }

            .txt-essential {
              font-size: 0.75rem;
              font-weight: 400;
              color: var(--gray-color-700);

              em {
                color: var(--primary-color-500);
              }
            }
          }
        }
      }

      .join-cont {
        .inputted-user-info {
          .row {
            &:first-of-type {
              .col {
                .data-user-info {
                  color: var(--gray-color-700);
                }
              }
              
            }
          }
        }
        
        .input-user-info {
          margin-top: 3rem;
        }

        .address {
          .detail-address {
            display: block;

            .detail {
              &:last-of-type {
                margin-top: 0.25rem;
              }
            }
          }
        }

        .radio-wrap {
          margin-top: 1.25rem;

          &:first-of-type {
            margin-right: 1rem;
          }
        }

        .checkbox-wrap {
          margin-top: 1.25rem;

          &:first-of-type {
            margin-right: 1rem;
          }
        }

        .txt-reception {
          font-size: 0.6875rem;
          color: var(--gray-color-600);
          margin-top: 0.25rem;
          line-height: 1.3;

          &:first-of-type {
            margin-top: 1.5rem;
          }
        }

        .search-result {
          display: none;
          padding: 1rem 3.5rem 1rem 1.5rem;
          background-color: var(--primary-color-25);
          border-radius: 0.5rem;
          position: relative;
          margin-top: 1.5rem;

          .company-num {
            font-weight: 700;
            position: relative;
            padding-right: 0.625rem;
            margin-right: 0.375rem;

            &::after {
              content: "";
              display: inline-block;
              border-right: 1px solid var(--gray-color-300);
              height: 0.75rem;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .ceo {
            color: var(--gray-color-600);
          }

          .radio-wrap {
            position: absolute;
            top: 0;
            right: 0.5rem;
            margin-right: 0;
          }

          .company-address {
            display: block;
            margin-top: 0.75rem;
            line-height: 1.3;
          }

          &.show {
            display: block;
          }
        }
      }

      .btn-wrap {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
          margin-top: 0;
        }
      }
    }
  }

  .double-checkbox {
    display: flex;
    align-items: center;

    .inputbox-underline {
      flex: 1;
      margin-right: 0.25rem;
    }

    button {
      flex: none;
    }
  }

  .inputbox-desc {
    font-size: 0.6875rem;
    color: var(--primary-color-500);
    margin-top: .375rem;
    line-height: 1.3;
  }

  .company-inputbox {
    .selectbox {
      .ts-control {
        height: 2.9375rem;
        width: 60%;
        align-items: center;
        padding-left: 0.25rem;
      }
    }

    .search-company {
      display: flex;
      align-items: center;
      gap: 0.375rem;
      margin-top: 0.25rem;

      .inputbox-underline {
        flex: 1;
      }

      .btn-wrap {
        margin-top: 0;
        display: flex;
        gap: 0.375rem;
      }
    }
  }
}

/*
* responsive
*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .memberpage {
    .join-contents {
      .join-header {
        margin-bottom: 2.5rem;
      }

      .btn-wrap {
        margin-top: 2.5rem;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .memberpage {
    .company-inputbox {
      .selectbox {
        .ts-control {
          width: 100%;
        }
      }

      .search-company {
        display: block;

        .btn-wrap {
          margin-top: 0.5rem;
        }
      }
    }
  }
}