.review-wrap {
  .top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
    margin-top: 1.5rem;

    .sec-title {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0;

      .count {
        font-weight: 600;
        margin-left: 0.25rem;
      }
    }
  }

  .profile {
    flex: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: url('../images/sub/img_profile_avata.png') center/100% no-repeat;

    > img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .write-review {
    display: flex;
    overflow: hidden;
    gap: 1rem;
    margin-bottom: 1rem;

    .write-form {
      flex: 1;
      overflow: hidden;

      textarea {
        width: 100%;
        height: 2.5rem;
        resize: none;
        border: none;
        line-height: 1.4;
        padding: 0.5rem 0;
        overflow: hidden;
        border-bottom: 1px solid var(--gray-color-300);

        &::placeholder {
          opacity: 1;
          color: var(--gray-color-400);
        }
      }

      .btn-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.25rem;
        margin-top: 0.5rem;
      }
    }

    &.reply {
      flex: none;
      width: 100%;
      padding-left: calc(2.5rem + 1rem);
      margin-bottom: 0;

      .profile {
        width: 1.625rem;
        height: 1.625rem;
        margin-top: 0.5rem;
      }

      .write-form {
        .btn-wrap {
          .btns {
            font-size: 0.75rem;
            height: 1.875rem;
          }
        }
      }
    }
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;

    .reviews-item {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 1rem;
      font-size: 0.875rem;

      &.reply {
        padding-left: calc(2.5rem + 1rem);

        .profile {
          width: 1.625rem;
          height: 1.625rem;
        }
      }

      .comment-info {
        flex: 1;
        overflow: hidden;
        line-height: 1;

        .name {
          font-weight: 600;
          margin-bottom: 0.5rem;
          font-size: .875rem;

          .time {
            font-size: .875rem;
            margin-left: 0.5rem;
            font-weight: 400;
            color: var(--gray-color-400);
          }
        }

        .comment {
          line-height: 1.4;
        }

        .like-info {
          margin-top: 0.875rem;
          display: flex;
          align-items: center;
          gap: 1rem;

          .btn-reply {
            font-size: 0.75rem;
            color: var(--gray-color-600);
          }
        }
      }

      .reply-comment-accordian {
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 1rem;

        .head {
          cursor: pointer;
          display: flex;
          padding-left: calc(2.5rem + 1rem);
          align-items: center;
          font-size: 0.875rem;
          font-weight: 600;
          color: var(--primary-color-500);

          &::after {
            font-family: 'hri_iconset';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            content: '\e916';
            display: block;
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
            margin-left: 0.25rem;
            transition: transform linear 0.1s;
          }
        }

        .reply-comment-list {
          height: auto;
          display: flex;
          flex-direction: column;
          //flex-wrap: wrap;
          overflow: hidden;
          gap: 1rem;
          max-height: 0;
          transition: max-height ease-in-out 0.1s;
        }

        &.open {
          .head {
            &::after {
              transform: rotate(180deg);
            }
          }
          .reply-comment-list {

          }
        }
      }
    }
  }

  .empty-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 4rem 1rem;
    margin-top: 2rem;

    > i {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: var(--primary-color-500);
      margin-bottom: .75rem;
    }

    .msg {
      font-size: 1.125rem;
    }

    > span {
      font-size: .75rem;
      color: var(--gray-color-600);
      margin-top: .75rem;
    }
  }
}
