@font-face {
  font-family: 'icomoon';
  src:  url('./icoset/icomoon.eot?7azfeh');
  src:  url('./icoset/icomoon.eot?7azfeh#iefix') format('embedded-opentype'),
    url('./icoset/icomoon.ttf?7azfeh') format('truetype'),
    url('./icoset/icomoon.woff?7azfeh') format('woff'),
    url('./icoset/icomoon.svg?7azfeh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-ic__repeat:before {
  content: "\e900";
}
.icon2-tv:before {
  content: "\e901";
}
.icon2-pencil:before {
  content: "\e959";
  color: #676767;
}
.icon2-reflash:before {
  content: "\e902";
}