<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../libs/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../../images/favicon.png" />
    <title>Document</title>
    <style>
      body {
        padding: 1rem;
      }

      h3 {
        font-size: 40px;
        margin-bottom: 4rem;
      }

      h5 {
        font-size: 20px;
        margin-bottom: 2rem;
      }

      .flex {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 3rem;
      }

      .flex i {
        flex: none;
        width: 24px;
        height: 24px;
        font-size: 24px;
      }

      .flex.s64 i {
        width: 64px;
        height: 64px;
        font-size: 64px;
      }
    </style>
  </head>
  <body>
    <h3>폰트아이콘 확인</h3>
    <h5>24사이즈</h5>
    <div class="flex">
	
      <i class="icon2-pencil"></i>
	  <i class="icon-align"></i>
      <i class="icon-book"></i>
      <i class="icon-check"></i>
      <i class="icon-coin-stack"></i>
      <i class="icon-credit-card"></i>
      <i class="icon-exam"></i>
      <i class="icon-filter"></i>
      <i class="icon-list-a"></i>
      <i class="icon-list-b"></i>
      <i class="icon-lock"></i>
      <i class="icon-message-square"></i>
      <i class="icon-notice"></i>
      <i class="icon-refresh-ccw"></i>
      <i class="icon-updown"></i>
      <i class="icon-thumb"></i>
      <i class="icon-share"></i>
      <i class="icon-repeat"></i>
      <i class="icon-plussquare"></i>
      <i class="icon-play-circle"></i>
      <i class="icon-paperclip"></i>
      <i class="icon-mobile"></i>
      <i class="icon-minussquare"></i>
      <i class="icon-info"></i>
      <i class="icon-grid"></i>
      <i class="icon-gift"></i>
      <i class="icon-folder"></i>
      <i class="icon-folder-plus"></i>
      <i class="icon-fileupload"></i>
      <i class="icon-file"></i>
      <i class="icon-download"></i>
      <i class="icon-depth"></i>
      <i class="icon-clock"></i>
      <i class="icon-chartline"></i>
      <i class="icon-bookmark"></i>
      <i class="icon-palette"></i>
      <i class="icon-camera"></i>
      <i class="icon-printer"></i>
      <i class="icon-useradd"></i>
      <i class="icon-file-text"></i>
      <i class="icon-excelfileup"></i>
      <i class="icon-chartpie"></i>
      <i class="icon-usersetting"></i>
      <i class="icon-plus"></i>
      <i class="icon-bell"></i>
      <i class="icon-mail"></i>
      <i class="icon-calendar"></i>
      <i class="icon-excel"></i>
      <i class="icon-eye-off"></i>
      <i class="icon-eye-on"></i>
      <i class="icon-arrow-left"></i>
      <i class="icon-nav-chart"></i>
      <i class="icon-close"></i>
      <i class="icon-nav-edit"></i>
      <i class="icon-trash"></i>
      <i class="icon-home"></i>
      <i class="icon-profile2"></i>
      <i class="icon-nav-trending-up"></i>
      <i class="icon-user"></i>
      <i class="icon-sliders"></i>
      <i class="icon-chattext"></i>
      <i class="icon-imgupload"></i>
      <i class="icon-nav-dashboard"></i>
      <i class="icon-arrow-circle-right"></i>
      <i class="icon-search"></i>
      <i class="icon-arrow-bottom"></i>
      <i class="icon-profile"></i>
      <i class="icon-nav-settings"></i>
      <i class="icon-menubar"></i>
      <i class="icon-nav-book"></i>
      <i class="icon-logout"></i>
      <i class="icon-nav-layout"></i>
      <i class="icon-nav-file-text"></i>
      <i class="icon-arrow-top"></i>
      <i class="icon-arrow-right"></i>
      <i class="icon2-pencil"></i>
      <i class="icon2-ic__repeat"></i>
      <i class="icon2-tv"></i>
      <i class="icon2-reflash"></i>
    </div>
    <h5>64사이즈</h5>
    <div class="flex s64">
      <i class="icon-share-64"></i>
      <i class="icon-scrap-64"></i>
      <i class="icon-login-64"></i>
      <i class="icon-like-64"></i>
      <i class="icon-download-64"></i>
      <i class="icon-customerstudy-64"></i>
      <i class="icon-clock-64"></i>
      <i class="icon-coins-64"></i>
      <i class="icon-graduation-cap-64"></i>
      <i class="icon-customer-64"></i>
      <i class="icon-books-64"></i>
      <i class="icon-chalkboard-teacher-64"></i>
      <i class="icon-user-question-64"></i>
      <i class="icon-chartbar-horizontal-64"></i>
    </div>
  </body>
</html>
