// modal
.modal {
  z-index: 9999;
  .modal-dialog {
    &.modal-900 {
      max-width: 57.5rem;
      margin-right: auto;
      margin-left: auto;
    }

    &.modal-xxl {
      max-width: 100%;
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }

  .modal-content {
    padding: 1.5rem;
    border-radius: 1rem;

    .modal-header {
      font-weight: 700;
      color: var(--gray-color-900);
      border-bottom: none;
      padding: 0;
    
      .modal-title {
        font-size: 1.125rem;
        color: var(--gray-color-900);
      }

      .btn-close {
        width: 2rem;
        height: 2rem;
        padding: 0;
        color: var(--gray-color-900);
        opacity: 1;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .modal-body {
      padding: 0;
      padding-top: 1.3125rem;
      padding-bottom: 2.5rem;
      line-height: 1.3;
      color: var(--gray-color-700);
    }

    .modal-footer {
      flex-shrink: initial;
      flex-wrap: initial;
      border-top: none;
      padding: 0;
      column-gap: .5rem;

      button {
        justify-content: center;
        margin: 0;
        padding: 0 1.75rem;

        &.btns-black.btns-outline {
          border-color: var(--gray-color-300);
        }
      }
    }

    h6 {
      font-size: 1rem;
      font-weight: 400;
      color: var(--gray-color-800);
    }
  }

  &.none-btn-close {
    .modal-content {
      .modal-header {
        justify-content: center;

        .btn-close {
          display: none;
          visibility: hidden;
        }
      }

      .modal-body {
        text-align: center;
      }

      .modal-footer {
        flex-shrink: initial;
        flex-wrap: initial;
        border-top: none;
  
        button {
          width: 100%;
        }
      }
    }
  }
}

/*
* responsive
*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .modal {
    .modal-dialog {
      &.modal-900 {
        max-width: 45rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .modal {
    .modal-dialog {
      &.modal-900 {
        max-width: 31.25rem;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .modal {
    .modal-dialog {
      margin: .5rem;
    }

    .modal-content {
      .modal-footer {
        flex-shrink: initial;
        flex-wrap: initial;
        border-top: none;
  
        button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 521.98px) {
  .modal {
    .modal-dialog {
      &.modal-900 {
        margin: .5rem;
      }
    }
  }
}