/* N0131 ���� �׽�Ʈ  �߰� css*/
/*ulsan*/

/*myStatus*/
#myStatus .cont .e-learning::after, #myStatus .cont .microlearning::after {
    z-index:1;
}
#myStatus .status .data-wrap{
  z-index:10;
}
#myStatus .cont .e-learning .myrecent a:hover,
#myStatus .cont .microlearning .myrecent a:hover{
  color:#fff;
  font-weight: 500;
}
#myStatus .cont .e-learning .data .num a:hover, #myStatus .cont .microlearning .data .num a:hover{
  color:#fff5a9;
}
#myStatus .cont .notice a .num{
font-size: 1.05rem;
}

/*main-slider*/
#mainHero6 .items .txt-wrap dl {
  height: 380px;
}
@media (max-width: 767.98px) {
  #mainHero6 .items .txt-wrap dl {
      height: 340px;
  }
  #mainHero6 .items .txt-wrap dl+img {
      max-width: 90%;
  }
}